.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  gap: 40px;
  padding-top: 0;
  padding-top: 2%;
  background-color: transparent;
}

.title-section {
  padding: 0px 240px 0px 240px;
  background-color: transparent;

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    align-self: center;
    margin-bottom: 16px;
    color: #ffffff;
  }

  p {
    padding: 0px 10% 0px 10%;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
  }

  .title-main-word {
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
    align-self: center;
    margin-bottom: 16px;
    background: linear-gradient(to right, #af9ef9, #f690fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.btn-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 8px;

  p {
    text-align: center;
    margin: 0;
    color: #ffffff;
  }

  img {
    align-items: center;
  }
}

.button-title {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 10px 32px 10px 32px;
  font-size: 16px;
  line-height: 32px !important;
  font-weight: 600;
  font-family: inherit;
  transition: border-color 0.25s;
  background: linear-gradient(to right, #6c6aee, #9b88eb);
}
.button-title:hover {
  background: linear-gradient(to right, #6348d3, #8a76f0) !important;
}
.button-title:focus,
.button-title:focus-visible {
  outline: none;
}

@media (max-width: 1024px) {
  .title-section {
    padding: 0px 32px 0px 32px;
  }
}

@media (max-width: 768px) {
  .title-section {
    h1 {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 12px;
    }

    .title-main-word {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 600px) {
  .title-section {
    h1 {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 0px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }

    .title-main-word {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 0px;
    }
  }

  .button-title {
    font-weight: 500;
  }
}
