.header {
  background: linear-gradient(78deg, #141020, #3f225f, #3f225f, #141020);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  position: relative;
  width: 100vw;
}

.logo-container {
  display: flex;
  align-items: center;

  p {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  p {
    color: var(--white-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  img {
    padding-right: 10px;
  }
}

.navBar button,
.navBar button:hover,
.navBar button:active {
  height: 28px;
  width: 231px;
  background: transparent;
  border: transparent;
  box-shadow: none;
  color: var(--black-main);
}

.logo {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  align-items: center;
}

.headerEnd {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 5%;
}

.header-end-box {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header-end-box-dropdown {
  display: flex;
  align-items: flex-end;
  margin-right: 6%;
  padding: 0px 0px 16px 16px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.logout-btn {
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 5px 16px 5px 16px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  height: 27px !important;
  width: 72px !important;
  transition: border-color 0.25s;
  background: linear-gradient(to right, #6c6aee, #9b88eb) !important;
  color: #ffffff !important;
}
.logout-btn:hover {
  background: linear-gradient(to right, #6348d3, #8a76f0) !important;
  color: #ffffff !important;
}
.logout-btn:focus,
.logout-btn:focus-visible {
  outline: none !important;
}

.navLink {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding-right: 6px;
    color: #b3b8ff;
  }

  p:hover {
    color: #bfd7ff;
  }
}

.desktop-view {
  display: flex;
}

.mobile-view {
  display: none;
}

.dropdown-toggle {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 90%;
  width: 100%;
  background: linear-gradient(78deg, #141020, #3f225f, #3f225f, #141020);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

@media screen and (max-width: 680px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    align-items: center;
  }
}
