.filtering-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 24px;
  flex-wrap: wrap;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 100%;

  .search-input {
    flex: 1;
    height: 40px;
    min-width: 300px;
    padding: 8px 24px 8px 40px;
    border-radius: 100px;
    border: 1px solid #cecdd0;
    color: #393242;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
  }
  .search-input::placeholder {
    color: #9e9d9f;
    opacity: 1;
  }
  .search-icon {
    position: absolute;
    left: 15px;
    padding-top: 2px;
    top: 50%;
    transform: translateY(-50%);
    color: #9e9d9f;
    pointer-events: none;
    cursor: pointer;
  }
  .search-input:hover {
    color: #000000 !important;
    background: transparent !important;
    background-color: transparent !important;
  }
  .search-input:focus,
  .search-input:focus-visible {
    outline: none;
  }
}

.filters-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  gap: 24px;
  max-width: 100%;
}

.date-input-container {
  display: flex;
  flex: 1;
  max-width: 100%;
  justify-content: center;

  .expiration-date-input {
    flex: 1;
    height: 40px;
    min-width: 250px;
    padding: 8px 12px 8px 12px;
    border-radius: 100px;
    border: 1px solid #cecdd0;
    color: #393242;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #ffffff;
  }
}

.doc-type-selector-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  max-width: 100%;
  justify-content: center;

  .doc-type-selector {
    cursor: pointer;
    flex: 1;
    height: 40px;
    min-width: 250px;
    padding: 0px;
    margin: 0;
    border-radius: 100px;
    color: #393242;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    background-color: #ffffff;

    .ant-select-selector{
      border: 1px solid #cecdd0;
    }
  }
}

@media screen and (max-width: 1400px) {
  .filtering-container{
    gap: 16px;
  }

  .filters-wrapper{
    gap: 16px;
  }

  .search-input {
    min-width: 200px !important;
  }

  .expiration-date-input {
    min-width: 200px!important;
  }

  .doc-type-selector {
    min-width: 200px!important;
  }
}


@media screen and (max-width: 1200px) {
  .search-input {
    min-width: 180px !important;
  }

  .expiration-date-input {
    min-width: 180px!important;
  }

  .doc-type-selector {
    min-width: 180px!important;
  }
}

@media screen and (max-width: 1100px) {
  .search-input {
    min-width: 150px !important;
  }

  .expiration-date-input {
    min-width: 150px!important;
  }

  .doc-type-selector {
    min-width: 150px!important;
  }
}

@media screen and (max-width: 950px) {
  .search-input {
    min-width: 250px !important;
  }

  .filtering-container {
    display: flex;
    flex-direction: column;
  
    .filters-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: stretch;
  
      .expiration-date-input,
      .doc-type-selector {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 705px) {
  .filtering-container {
    padding: 8px;
    gap: 8px;
  }
}
